<!--头部导航-->
<header class="header-wrapper main-header icl-header">

    <nav class="navbar navbar-static-top">
        <div class="nav-header"></div>
    </nav>
</header>
<!--头部导航 end-->

<!-- 侧边栏 -->
<aside class="sidebar-wrapper main-sidebar" id="scrollSpy">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" id="sidebar">
        <a href="#" class="sidebar-toggle " data-toggle="offcanvas" role="button" title="fold">
            <div class="fa  fa-bars fold"></div>
        </a>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class=" sidebar-menu nav  nav-stacked" id="sidebar-menu">

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--侧边栏 end-->

<!-- 内容区 -->
<div class="content-wrapper examples-container" id="main">
    <ul id="charts-list"></ul>
</div>
<!--内容区 end-->

<!-- footer -->
<footer class="main-footer icl-footer"></footer>
<!--footer end-->