<!--********************************************************************
* Copyright© 2000 - 2022 SuperMap Software Co.Ltd. All rights reserved.
*********************************************************************-->
<div class="icl-contact">
    <div class="contact-main">
        <div class="home-link">
            <a href="{{nav.path}}./download/download.html" data-i18n="footer.download"
               target="_blank">下载</a>
            <a href="{{nav.path}}./faq/faq.html" data-i18n="footer.faq" target="_blank">常见问题</a>
            <a href="http://www.supermap.com.cn" data-i18n="footer.supermap" target="_blank">超图官网</a>
            <a href="http://www.dituhui.com" data-i18n="footer.dituhui" target="_blank">地图慧</a>
            <a href="http://support.supermap.com.cn" data-i18n="footer.support" target="_blank">超图技术资源中心</a>
        </div>
        <div class="contact-link">
            <span data-i18n="footer.contact">联系我们：</span>
            <span><span data-i18n="footer.tel">电话 </span>400-8900-866</span>
            <span style="margin-left:20px">
                <span data-i18n="footer.sns">WebGIS中文技术圈QQ群 </span>
                459804186<span data-i18n="footer.sns_full">（已满）</span>
                <a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5PtCyDM"> 636732377</a>
                <span data-i18n="footer.sns_tips">（点击链接加入群）</span>
            </span>
        </div>
        <div class="join-link">
            <span data-i18n="footer.join">加入我们： 超图Web客户端团队</span>
            <span>
                <span data-i18n="footer.join_tips1">（请发邮件至: </span>
                <a href="mailto:zhouqiang@supermap.com">zhouqiang@supermap.com</a>
                <span data-i18n="footer.join_tips2">，附上您的简历哦）</span>
            </span>
        </div>
    </div>
</div>
<div class="icl-copyright" data-i18n="footer.copyright">版权所有 © 2000-2022 北京超图软件股份有限公司 蜀ICP备16000471号-1
</div>