//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:_password=YWJYa2ZMRVVoa2pp
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:username=user_1898045493958947
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:email=songyumeng@supermap.com
//registry-node.aliyun.com/org/1120600651823311/registry/supermap/:always-auth=false
//packages.aliyun.com/5fed4c09f6558cb57ed8ac6b/npm/npm-registry/:_authToken=527f1744-e93e-4a05-9c8a-801b6dc58311
@ispeco:registry=https://registry-node.aliyun.com/org/1120600651823311/registry/supermap/
@supermap:registry=https://packages.aliyun.com/5fed4c09f6558cb57ed8ac6b/npm/npm-registry/
registry=https://registry.npmmirror.com
chromedriver_cdnurl=https://registry.npmmirror.com/-/binary/chromedriver