div.smMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
    cursor: default;
	border:1px solid #3473b7;
}

div.smMapViewport {
    text-align: left;
}

div.smLayerDiv {
   -moz-user-select: none;
}

.smLayerGoogleCopyright {
    left: 2px;
    bottom: 2px;  
}
.smLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;   
}
.smControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 4.5em; 
    position: absolute; 
    display: block;
}
.smControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.smControlScaleLine {
   display: block;
   position: absolute;
   left: 10px;
   bottom: 15px;
   font-size: xx-small;
}
.smControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.smControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}

.smControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 

div.smControlMousePosition {
    bottom: 0em;
    right: 3px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: smaller;
}

.smControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
	background-color: #e5f3ff;
}


.smControlOverviewMapElement {
	border-left:1px solid #3473b7;
	border-top:1px solid #3473b7;
	padding-top: 4px;
	padding-left: 4px;
}

.smControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 1px;
}    

.smControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 1px;
}

.smControlOverviewMapExtentRectangle {
    overflow: hidden;
    /*background-image:url(../../image/blank.gif);*/
    cursor: move;
    border: 1px solid red;
	background:#69F;
	filter:alpha(opacity=50);/* IE */ 
	-moz-opacity:0.5;/* Moz + FF */ 
	opacity: 0.5; /* 支持CSS3的浏览器（FF 1.5也支持）*/
}
.smControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url(../theme/images/overview_replacement.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.smLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.smLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.smLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.smPopupContent {
    padding:5px;
    overflow: auto;
}    
.smControlNavToolbar { 
    width:0px;
    height:0px;
}    
.smControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}

.smControlNavigationHistory {
   background-image: url("img/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;

}
.smControlNavigationHistoryPreviousItemActive { 
  background-position: 0px 0px;
}
.smControlNavigationHistoryPreviousItemInactive { 
   background-position: 0px -24px;
}
.smControlNavigationHistoryNextItemActive { 
   background-position: -24px 0px;
}
.smControlNavigationHistoryNextItemInactive { 
   background-position: -24px -24px;
}

.smControlNavToolbar .smControlNavigationItemActive { 
  background-image: url("img/panning-hand-on.png");
  background-repeat: no-repeat;
}
.smControlNavToolbar .smControlNavigationItemInactive { 
  background-image: url("img/panning-hand-off.png");
  background-repeat: no-repeat;
}
.smControlNavToolbar .smControlZoomBoxItemActive { 
  background-image: url("img/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
.smControlNavToolbar .smControlZoomBoxItemInactive { 
  background-image: url("img/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.smControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.smControlEditingToolbar div { 
  background-image: url("img/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.smControlEditingToolbar .smControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.smControlEditingToolbar .smControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.smControlEditingToolbar .smControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.smControlEditingToolbar .smControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
.smControlEditingToolbar .smControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.smControlEditingToolbar .smControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.smControlEditingToolbar .smControlDrawFeaturePolygonItemInactive { 
  background-position: -26px 0px; 
}
.smControlEditingToolbar .smControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;                                                                   
}
div.smControlSaveFeaturesItemActive { 
    background-image: url(img/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
div.smControlSaveFeaturesItemInactive { 
    background-image: url(img/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}

.smHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.smHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}   

.smControlPanPanel {
    top: 10px;
    left: 5px;
}  

.smControlPanPanel div {
    background-image: url(img/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}

.smControlPanPanel .smControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}
.smControlPanPanel .smControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}
.smControlPanPanel .smControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}
.smControlPanPanel .smControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}

.smControlZoomPanel {
    top: 71px;
    left: 14px;
} 

.smControlZoomPanel div {
    background-image: url(img/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.smControlZoomPanel .smControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}

.smControlZoomPanel .smControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}

.smControlZoomPanel .smControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
}

.smPopupCloseBox {
  background: url("../images/close.gif") no-repeat;
  cursor: pointer;
}

.smFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

.smControlNoSelect {
 -moz-user-select: none;
}

.smImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

/**
 * Cursor styles
 */

.smCursorWait {
    cursor: wait;
}
.smDragDown {
    cursor: move;
}
.smDrawBox {
    cursor: crosshair;
}
.smControlDragFeatureOver {
    cursor: move;
}
.smControlDragFeatureActive.smControlDragFeatureOver.smDragDown {
    cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
.smControlLayerSwitcher {
    position: absolute;
    top: 25px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}

.smControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

.smControlLayerSwitcher .layersDiv .baseLbl,
.smControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.smControlLayerSwitcher .layersDiv .baseLayersDiv,
.smControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 3px;
}

.smControlLayerSwitcher .maximizeDiv,
.smControlLayerSwitcher .minimizeDiv {
    top: 0px;
    right: 0px;
    text-align: left;
}
.smControlLayerSwitcher .maximizeDiv{
    border: 3px solid #a5c8ec;
}

div.smControlLayerSwitcher {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 171px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 0px 3px 3px;
    font-size: smaller;
    font-size: 13px;
    color: #4083c2;
    background-color: transparent;
    border: 3px solid #a5c8ec;
}
div.smControlLayerSwitcher div.layersDiv {
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 5px;
    background-color: #FFFFFF;
    width: 166px;
    height: 100%;
}
span.labelSpan {
    margin-left: 5px;
}
div.minimizeDiv .layerSwitcherContent{
    position: absolute;
    padding: 2px 40px;
}


/**
 * Animations
 */

.smLayerDiv .smTileImage {
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}