@font-face {
  font-family: "iconfont"; /* Project id 4848754 */
  src: url('iconfont.woff2?t=1757901504792') format('woff2'),
       url('iconfont.woff?t=1757901504792') format('woff'),
       url('iconfont.ttf?t=1757901504792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control:before {
  content: "\e161f";
}

.icon-components:before {
  content: "\e1626";
}

.icon-Online:before {
  content: "\e1625";
}

.icon-OGC:before {
  content: "\e1624";
}

.icon-analysis:before {
  content: "\e1620";
}

.icon-Elasticsearch:before {
  content: "\e1621";
}

.icon-multiCoordSys:before {
  content: "\e1618";
}

.icon-mapping:before {
  content: "\e1619";
}

.icon-MapboxGL:before {
  content: "\e161a";
}

.icon-map:before {
  content: "\e161b";
}

.icon-dynamicPlot:before {
  content: "\e161c";
}

.icon-others:before {
  content: "\e161d";
}

.icon-iServer:before {
  content: "\e161e";
}

.icon-clientSpatialAnalyst:before {
  content: "\e1622";
}

.icon-overlay:before {
  content: "\e160f";
}

.icon-Leaflet:before {
  content: "\e160e";
}

.icon-iPortal:before {
  content: "\e1611";
}

.icon-theme:before {
  content: "\e1613";
}

.icon-popup:before {
  content: "\e1614";
}

.icon-iManager:before {
  content: "\e1615";
}

.icon-viz:before {
  content: "\e1616";
}

.icon-query:before {
  content: "\e1617";
}

