.widgets-tabpage {
    width: 488px;
    margin: 3px auto 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.noneBoxShadow {
    box-shadow: none;
}

/*header*/
.widgets-tabpage ul {
    margin: 0;
    padding: 0;
    height: 39px;
    line-height: 31px;
    overflow: hidden;
}

.widgets-tabpage ul li {
    float: left;
    list-style: none;
    padding: 7px 7px 0 7px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    display: inline;
    color: #0083CB;
}

.widgets-tabpage ul li.on {
    border-bottom-color: #0083cb;
    position: relative;
}

/*content*/
.widgets-tabpage-content {
    border-top: 1px solid #DDD;
    margin-top: -1px;
    clear: left;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 10px;
}

.widgets-tabpage-content div {
    float: left;
}

.py-key {
    display: inline-block;
    padding-left: 7px;
    font-weight: bold;
    font-size: 12px;
    color: #0083CB;
    vertical-align: top;
}

.city-content {
    margin-left: 14px;
    max-width: 450px;
}

.city-content > span {
    display: inline-block;
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 8px 24px 8px 0;
    text-align: left;
    cursor: pointer;
}

.city-content > span:hover {
    color: #0083CB;
}
