/** 未有相应字体图样的图片样式 **/
.widget-checkbox-default-img {
    background: url("../image/iweb_checkbox_default_icon.png") no-repeat;
}

.widget-checkbox-selected-img {
    background: url("../image/iweb_checkbox_selected_icon.png") no-repeat;
}

.widget-analyst-buffer-img {
    background: url("../image/analyst_buffer_icon.png") no-repeat;
}

.widget-analyst-isoline-img {
    background: url("../image/analyst_isoline_icon.png") no-repeat;
}

.widget-triangle-down-img {
    background: url("../image/triangle-down-icon.png") no-repeat;
}

.widget-triangle-up-img {
    background: url("../image/triangle-up-icon.png") no-repeat;
}

.widget-single-default-img {
    background: url("../image/radiobox-disabled.png") no-repeat;
}

.widget-single-checked-img {
    background: url("../image/radiobox-checked.png") no-repeat;
}

.widget-default-marker-icon {
    height: 41px !important;
    width: 25px !important;
    background: url("../image/marker-icon.png") no-repeat;
}

.widget-select-marker-icon {
    height: 42px !important;
    width: 30px !important;
    background: url("../image/marker-gold.png") no-repeat;
}

.widget-analyst-density-img {
    background: url("../image/analyst-density-icon.png") no-repeat;
}