.checkbox-default-img {
    background: url("../image/iweb_checkbox_default_icon.png") no-repeat;
}

.checkbox-selected-img {
    background: url("../image/iweb_checkbox_selected_icon.png") no-repeat;
}

.analyst-buffer-img {
    background: url("../image/analyst_buffer_icon.png") no-repeat;
}

.analyst-isoline-img {
    background: url("../image/analyst_isoline_icon.png") no-repeat;
}

.triangle-down-img {
    background: url("../image/triangle-down-icon.png") no-repeat;
}

.triangle-up-img {
    background: url("../image/triangle-up-icon.png") no-repeat;
}
.single-default-img {
    background: url("../image/radiobox-disabled.png") no-repeat;
}

.single-checked-img {
    background: url("../image/radiobox-checked.png") no-repeat;
}

.default-marker-icon {
    height: 41px !important;
    width:25px!important;
    background: url("../image/marker-icon.png") no-repeat;
}

.select-marker-icon {
    height: 42px!important;
    width: 30px!important;
    background: url("../image/marker-gold.png") no-repeat;
}
.analyst-density-img{
    background: url("../image/analyst-density-icon.png") no-repeat;
}