/*--数据列表容器--*/
.openFileContainer {
    margin-top: 20px !important;
    margin-right: 4px !important;
}

.file-selectSpan {
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 32px;
    font-size: 14px;
    color: #595959;
    text-align: center;
    letter-spacing: 0.75px;
    line-height: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    display: block;
}

.file-selectSpan:hover {
    border: 1px solid #38ADF5;
    color: #38ADF5;
    cursor: pointer;
}

.file-selectSpan .openFile-icon {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 14px;
    width: 18px;
    background: url("../../../../dist/images/widgets/upload_icon.png") no-repeat;
    margin: auto auto;
    padding-right: 5px;
}

.file-selectSpan .openFile-span {
    display: block;
    position: absolute;
    left: 32px;
}

.openFile_input {
    position: relative;
    left: 190px;
    top: 49px;
    height: 32px;
    width: 160px;
    display: none !important;
}