.widgets-pagination {
    line-height: normal;
    width: 303px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    max-height: 610px;
}

.widgets-pagination-content {
    max-height: 505px;
}

.widgets-pagination-link {
    display: table;
    padding: 0;
    margin: 10px auto;
    text-align: center;
}

.widgets-pagination-link li {
    float: left;
    display: inline;
    width: 5px;
    height: 10px;
    list-style: none;
    padding: 0 7px 7px 5px;
    margin: 0 2px;
    color: #0083CB;
    cursor: pointer;
    border-radius: 2px;
    border-bottom: 1px solid transparent;
}

.widgets-pagination-link li.disable {
    color: #919191;
}

.widgets-pagination-link li.disable:hover {
    cursor: not-allowed;
}

.widgets-pagination-link li.active {
    color: #FFFFFF;
    background-color: #0083CB;
}
