.poi {
    position: absolute;
    top: 32px;
    right: 96px;
    width: 385px;
}

.widgets-poi {
    float: right;
    min-width: 312px;
    height: 36px;
    line-height: 36px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    z-index: 999;
    font-size: 12px;
}

.widgets-poi > div {
    float: left;
}

/*下拉框*/
.widgets-poi-settings {
    position: relative;
}

.widgets-poi-settings .widgets-poi-settings-name {
    background-color: #F5F5F5;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-width: 120px;
    padding-left: 12px;
    padding-right: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.widgets-poi-settings-name > div:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.widgets-poi-settings .supermapol-icons-solid-down-triangle {
    position: absolute;
    right: 8px;
    top: 10px;
    margin-left: 4px;
}

/*搜索框*/
.widgets-poi input[type='text'] {
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #919191;
    height: 18px;
    width: 155px;
    line-height: 18px;
    padding-left: 8px;
    padding-right: 24px;
    border: none !important;
    outline: none !important;
}

.widgets-poi-input input[type='text'] ~ span.supermapol-icons-close {
    position: absolute;
    right: 2px;
    cursor: pointer;
    color: #E9E9E9;
    width: 20px;
    height: 20px;
    line-height: 20px;
    top: 9px;
    text-align: center;
    z-index: 10;
}

/*搜索*/
.widgets-poi-input {
    position: relative;
}

.widgets-poi .supermapol-icons-search {
    font-size: 16px;
    cursor: pointer;
    height: 16px;
    width: 39px;
    line-height: 16px;
    text-align: center;
    color: #4A90E2;
    margin-top: 10px;
    border-left: 1px solid #E9E9E9;
}

/*图层查询*/

.layers-select {
    box-sizing: border-box;
    padding-top: 2px;
    margin: 0 auto;
    width: 488px;
    max-height: 364px;
}

.poi-layers-header {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #E9E9E9;
}

.poi-layers-header > div {
    float: left;
    height: 100%;
    line-height: 42px;
    cursor: pointer;
}

.poi-layers-header > div > span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 16px;
}

.poi-layers-header > div > span:first-child {
    font-size: 16px;
    color: #0083CB;
    margin-right: 8px;
}

.poi-layers-body {
    position: relative;
    overflow: hidden;
    width: 490px;
    max-height: 310px;
    padding-bottom: 8px;
}

.poi-search-layer {
    width: 100%;
    margin-top: 8px;
    line-height: 24px;
}

.poi-search-layer > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

/*单选框*/
.widgets-singlesSelect {
    width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    cursor: pointer;
}

.widgets-singlesSelect > div {
    float: left;
}

.widgets-singlesSelect > .single-label {
    float: left;
    margin-left: 6px;
}

.widgets-singlesSelect > div:first-child {
    width: 12px;
    height: 12px;
}

.widgets-singlesSelect .single-checked-img, .widgets-singlesSelect .single-default-img {
    margin-top: 6px;
    width: 12px;
    height: 12px;
}

.poi-search-layer > .widget-select-options {
    float: right;
    /* 复写模板的margin 后续确认模板margin是否删除*/
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 280px;
    height: 22px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    line-height: 22px;
    outline: none;
}

/*查询结果单元样式*/
.poi-result-items {
    width: 100%;
    height: 56px;
    margin: 8px auto;
    cursor: pointer;
}

.poi-result-items:hover, .poi-result-items.selected {
    background-color: #F5F5F5;
}

.poi-result-items > div {
    float: left;
    height: 100%;
    cursor: pointer;
}

.poi-result-items > .poi-result-icon {
    width: 34px;
    height: 20px;
    font-size: 20px;
    line-height: 43px;
    text-align: right;
    color: #0083CB;
}

.poi-result-items > .poi-result-selected {
    color: red;
    font-size: 24px;
}

.poi-result-info {
    width: 180px;
    padding-left: 11px;
    margin-right: 48px;
}

.poi-result-info > div {
    height: 18px;
    line-height: 18px;
    width: 100%;
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.poi-result-info > div:first-child {
    color: #292929;
}

.poi-result-info > div:last-child {
    color: #919191;
}

.poi-result-items > div.widget-checkbox {
    float: right;
    margin: 14px 16px 14px 0;
    width: 14px;
    height: 14px;
}


/*!*查询数据单元*!
.widgets-result-items {
    width: 100%;
    height: 56px;
    margin: 8px auto;
    cursor: pointer;
}

.widgets-result-items:hover, .widgets-result-items.selected {
    background-color: #F5F5F5;
}

.widgets-result-items > div {
    float: left;
    height: 100%;
    cursor: pointer;
}

.widgets-result-icon {
    width: 34px;
    font-size: 20px;
    line-height: 43px;
    text-align: right;
    color: #0083CB;
}

.widgets-result-info {
    width: 180px;
    padding-left: 11px;
    margin-right: 48px;
}

.widgets-result-info > div:first-child {
    color: #292929;
}

.widgets-result-info > div:last-child {
    color: #919191;
}

.widgets-result-items > div.widget-checkbox {
    float: right;
    margin: 14px 16px 14px 0;
    width: 14px;
    height: 14px;
}*/
