.select-tool {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.select-tool label.lable_describe {
    width: 100%;
    height: 16px;
    /* margin-bottom: 8px; */
    color: #595959;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    /* font-weight: 700; */
}

.lable_describe {
    height: 16px;
    font-size: 12px;
    color: #595959;
    font-weight: 400;
    /* margin-bottom: 8px; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select-tool,
.select-tool .select-content {
    width: 100%;
    left: 0;
}

.select-tool .select-content .scrollarea-content {
    min-height: 28px;
}
.scrollarea-content {
    margin-top: 0px;
    margin-left: 0px;
}
.scrollarea>.scrollarea-content {
    padding-bottom: 5px;
}
.select-option {
    width: 99%;
    height: 17px;
    line-height: 20px;
    padding: 5px 8px 7px 8px;
    font-size: 12px;
    color: #595959;
    cursor: pointer;
    background: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select-option:hover {
    background-color: #E6F9FF;
}

.select-tool .chart_select{
    left: 0;
    height: 26px;
    position: relative;
}
.chart_select {
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    padding-left: 8px;
    font-size: 12px;
    color: #595959;
}
/* test */
.chart_select:hover {
    border: 1px solid #108EE9;
}

.select-name {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chart-triangle-btn {
    position: relative;
    bottom: 18px;
    left: 90%;
    width: 13px;
    height: 10px;
    cursor: pointer;
}

.chart-triangle-btn>div {
    width: 100%;
    height: 100%;
}
.select-content {
    position: absolute;
    left: 0;
    top: 30px;
    padding: 5px 0 0;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.15);
    border-radius: 2px;
    z-index: 10000;
    display: none;
    overflow: hidden scroll;
    max-height: 210px;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color:rgb(255,255,255);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(200, 204, 209);
}