.drop-down-container {
    position: relative;
    width: 200px;
    height: 58px;
    /* margin-top: 6px; */
}

.drop-down-box {
    width: 192px;
    height: 50px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 8px 0 0px 8px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}


.drop-down-box:hover {
    border: 1px solid #108EE9;
}

.triangle-btn {
    position: relative;
    bottom: 46px;
    left: 173px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
.triangle-btn>div {
    width: 105%;
    height: 100%;
}

.drop-down-content {
    position: absolute !important;
    top: 61px;
    left: 0;
    width: 184px;
    /* height: 92px; */
    background: #FFFFFF;
    padding: 8px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    z-index: 10001;
}


.drop-down-item {
    width: 177px;
    height: 42px;
    margin-bottom: 8px;
    cursor: pointer;
    color: #595959;
}

.drop-down-content .drop-down-item:hover .drop-down-title {
    color: #108EE9;
}

.drop-down-content .drop-down-item:hover .drop-down-remark {
    color: #108EE9;
}

.drop-down-img div {
    width: 48px;
    height: 42px;
}

.drop-down-title {
    position: relative;
    bottom: 40px;
    left: 57px;
    width: 120px;
    height: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #595959;
    overflow: hidden;
}

.drop-down-remark {
    position: relative;
    bottom: 32px;
    left: 57px;
    width: 120px;
    height: 16px;
    font-size: 12px;
    color: #919191;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.drop-down-content.chart-content{
    display: none;
}