.navbar {
    font-size: 16px;
}

.navbar .project-title {
    text-decoration: none;
    vertical-align: middle;
    font-family: HiraginoSansGB-W6;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.16px;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 2px !important;
}

.navbar #headerMenu {
    text-align: center;
    margin: 7.5px -15px;
}

.navbar #headerMenu > li > a {
    font-family: 'HiraginoSansGB-W6';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: -0.1px;
    text-decoration: none;
    padding: 4px 9px;
    border: solid 2px transparent;
    border-radius: 4px;
    margin-right: 0;
    line-height: 20px;
}

.navbar #headerMenu > li > a:hover {
    background-color: #3c8dbc; /*#0099cc*/
}

.navbar #headerMenu > .open > a {
    background-color: #3c8dbc; /*#0099cc*/
}

.nav_apis_box_li > li:hover {
    color: #ffffff;
    background-color: #0099cc;
}

.nav_apis_box_li > li {
    text-align: center;
    font-size: 14px;
    height: 30px;
    color: #7c7c7c;
    border-bottom: 1px solid #e7e7e7;
    line-height: 30px;
    cursor: pointer;
    font-weight: bold;
}

#title {
    font-family: 'HiraginoSansGB-W6';
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: -0.1px;
}

.main-header .sidebar-toggle:before {
    content: "\f03b";
}

@media screen and (max-width: 1200px) {
    #title {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    #title {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #title {
        font-size: 16px;
    }

    .navbar-nav > li > .dropdown-menu {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 650px) {
    #title {
        font-size: 14px;
    }
}