@charset "UTF-8";
html, body, .wrapper {
    height: 100% !important;
}

* {
    font-family: 'Microsoft Yahei'
}

.pt50.tc {
    font-family: 'HiraginoSansGB-W6';
    font-size: 39px;
    color: #FFFFFF;
}

.header-home {
    background: #3c8dbc;
}

#header2-text {
    padding: 80px 15px 20px 0;
    text-align: center;
}

.lead {
    font-size: 20px;
    text-align: justify;
    color: #505666;
    margin-top: 40px;
    line-height: 150%
}

.iclient-copyright {
    color: #7d7d7d;
    font-size: 13px !important;
    text-align: center;
    height: 54px;
    line-height: 54px;
}

.iclient-footer {
    border-top: 1px solid #ddd;
}

.html .tag, .css .tag, .javascript .keyword {
    color: #3182bd;
}

.html .attr, .css .attr, .javascript .class, .javascript .special {
    color: #e6550d;
}

.radiusBtn {
    height: 50px;
    width: 180px;
    border-radius: 300px;
    margin-top: 29px;
    border: 1px solid white;
    background-color: transparent
}

.radiusBtn a {
    font-family: 'HiraginoSansGB-W6';
    font-size: 18px;
    color: #FFFFFF;
    line-height: 30px;
}

#button_zip {
    margin-left: 120px;
    text-align: center;
}

.bs-docs-section h2 {
    font-size: 30px;
}

.javascript {
    border: 1px solid #e0e0e0;
}

#button_sourceCode {
    text-align: center;
    margin-left: 30px;
}


.new-attributes {
    margin: 50px 0;
}

.new-attributes .box {
    margin-bottom: 0;
}

.new-attributes .box .box-title {
    color: #337ab7;
    font-size: 16px;
}

@media screen and (max-width: 1200px) {
    .pt50.tc {
        font-size: 30px;
    }

    #button_zip {
        margin-left: 8.33333333%;
        float: right;
        margin-right: 24%;
    }

    #button_sourceCode {
        float: right;
        margin-right: 24%;
    }
}

@media screen and (max-width: 992px) {
    .pt50.tc {
        font-size: 25px;
    }

    #button_zip {
        margin-left: 0;
        float: right;
        margin-right: auto;
    }

    .radiusBtn {
        margin-top: 18px;
    }

    #header2-text {
        padding-top: 75px;
        padding-bottom: 0;
    }

    #button_sourceCode {
        float: right;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    #button_zip {
        margin-left: 8.33333333%;
        float: right;
        margin: auto;
    }

    #button_sourceCode {
        float: right;
        margin: auto;
    }

    .quick-service .second_title .navbar-nav li {
        padding-left: 15px;
    }
}

@media screen and (max-width: 762px) {
    #button_zip {
        margin-left: 8.33333333%;
        float: none;
        margin: auto;
    }

    #button_sourceCode {
        float: none;
        margin: auto;
    }
}

/*特性 attributes里用到的样式*/
.attributes {
    padding: 0;
    width: inherit
}

.attributes .feature-heading {
    color: #333743;
    padding-top: 100px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.attributes .feature-text {
    font-size: 16px;
    color: #9297A3;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    line-height: 150%
}

.attributes hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1)
}

.attributes .img-fluid {
    max-width: 100%;
    height: auto
}

.attributes .figure-img {
    margin-bottom: .5rem;
    line-height: 1
}

@media (min-width: 992px) {
    .attributes .col-lg-1 {
        float: left;
        width: 8.33333%
    }

    .attributes .col-lg-2 {
        float: left;
        width: 16.66667%
    }

    .attributes .col-lg-3 {
        float: left;
        width: 25%
    }

    .attributes .col-lg-4 {
        float: left;
        width: 33.33333%
    }

    .attributes .col-lg-5 {
        float: left;
        width: 41.66667%
    }

    .attributes .col-lg-6 {
        float: left;
        width: 50%
    }

    .attributes .col-lg-7 {
        float: left;
        width: 58.33333%;
    }

    .attributes .col-lg-8 {
        float: left;
        width: 66.66667%
    }

    .attributes .col-lg-9 {
        float: left;
        width: 75%
    }

    .attributes .col-lg-10 {
        float: left;
        width: 83.33333%
    }

    .attributes .col-lg-11 {
        float: left;
        width: 91.66667%
    }

    .attributes .col-lg-12 {
        float: left;
        width: 100%
    }

    .attributes .pull-lg-0 {
        right: auto
    }

    .attributes .pull-lg-1 {
        right: 8.33333%
    }

    .attributes .pull-lg-2 {
        right: 16.66667%
    }

    .attributes .pull-lg-3 {
        right: 25%
    }

    .attributes .pull-lg-4 {
        right: 33.33333%
    }

    .attributes .pull-lg-5 {
        right: 41.66667%
    }

    .attributes .pull-lg-6 {
        right: 50%
    }

    .attributes .pull-lg-7 {
        right: 58.33333%
    }

    .attributes .pull-lg-8 {
        right: 66.66667%
    }

    .attributes .pull-lg-9 {
        right: 75%
    }

    .attributes .pull-lg-10 {
        right: 83.33333%
    }

    .attributes .pull-lg-11 {
        right: 91.66667%
    }

    .attributes .pull-lg-12 {
        right: 100%
    }

    .attributes .push-lg-0 {
        left: auto
    }

    .attributes .push-lg-1 {
        left: 8.33333%
    }

    .attributes .push-lg-2 {
        left: 16.66667%
    }

    .attributes .push-lg-3 {
        left: 25%
    }

    .attributes .push-lg-4 {
        left: 33.33333%
    }

    .attributes .push-lg-5 {
        left: 41.66667%;
    }

    .attributes .push-lg-6 {
        left: 50%
    }

    .attributes .push-lg-7 {
        left: 58.33333%
    }

    .attributes .push-lg-8 {
        left: 66.66667%
    }

    .attributes .push-lg-9 {
        left: 75%
    }

    .attributes .push-lg-10 {
        left: 83.33333%
    }

    .attributes .push-lg-11 {
        left: 91.66667%
    }

    .attributes .push-lg-12 {
        left: 100%
    }
}

/*特性 attributes样式结束*/

/*快速入门*/
.quick-service {
    margin-top: 40px;
}

.quickstart .separator_wrapper::before, .quickstart .separator_wrapper::after {
    background-color: #3c8dbc;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 2px;
    margin-top: -2px;
}

.javascript .hljs-string {
    color: #d44950
}

.quick-service .second_title {
    border: none;
    background-color: #ffffff;
    z-index: 10000;
    -webkit-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
    height: 50px
}

.quick-service .second_title .navbar-nav li {
    position: relative
}

.quick-service .second_title .navbar-nav li a {
    color: #333743;
    padding: 15px 0;
    -webkit-transition: 0.5s background-color;
    transition: 0.5s background-color;
    font-size: 24px
}

.quick-service .second_title .navbar-nav li a:before {
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    top: 0;
    background: #3c8dbc;
    height: 3px;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.quick-service .second_title .navbar-nav li a:hover, .second_title .navbar-nav li a:focus {
    color: rgba(0, 0, 0, 2);
    background-color: #f9f9f9;
    cursor: hand;

}

.quick-service .second_title .navbar-nav li a:hover:before, .navbar-default .navbar-nav li a:focus:before {
    left: 0;
    right: 0
}

.quickstart .map {
    height: 300px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
}

/*快速入门*/

/*what's new里用到的样式*/
.separator_wrapper {
    margin-top: -5px
}

.new-attributes .separator_wrapper::before, .new-attributes .separator_wrapper::after {
    background-color: #3c8dbc;
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 70px;
    height: 2px;
    margin-top: -2px;
}

/*@media screen and (min-width: 1200px) {
    .separator_wrapper::before, .separator_wrapper::after {
        background-color: #3c8dbc;
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 462px;
        height: 1px;
        margin-top: -2px;
    }
}*/
/*
@media screen and (max-width: 1200px) {
    .separator_wrapper::before, .separator_wrapper::after {
        background-color: #3c8dbc;
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 45%;
        height: 1px;
        margin-top: -2px;
    }
}*/

.first_title {
    font-size: 36px;
    color: #333743;
    padding-top: 30px;
    margin-bottom: 20px
}

.new-attributes .panel-body {
    border: 0;
    padding-left: 0;
}

.new-attributes .new-attributes_content {
    color: inherit;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 10px;
    line-height: 200%;
}

.new-attributes .news-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    font-size: 1.2rem;
    line-height: 3rem;
}

.new-attributes .news-item {
    display: table-row;
    width: 100%;
}

.new-attributes .decoration:before,
.new-attributes .decoration:after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}

.new-attributes .news-item:nth-child(1) .decoration:before {
    display: none;
}

.new-attributes .news-item:nth-last-child(1) .decoration:after {
    display: none;
}

.new-attributes .decoration:before {
    top: 0;
}

.new-attributes .decoration:after {
    bottom: 0;
}

.new-attributes .decoration {
    display: table-cell;
    width: 10%;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.new-attributes .news-item:hover .news-box {
    background-color: #3c8dbc;
    color: #fff;
}

.new-attributes .news-item:hover .news-box:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #3c8dbc;
    border-bottom: 10px solid transparent;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.new-attributes .news-item:hover .solid-circle {
    background: #3c8dbc;
}

.new-attributes .news-item .news-title {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.new-attributes .news-item:hover .news-title {
    color: #fff;
    text-decoration: underline;
}

.new-attributes .news-item:hover .news-time {
    color: #fff;
}

.new-attributes .news-box {
    display: table-cell;
    line-height: 3rem;
    width: 80%;
    vertical-align: middle;
    color: #000;
    padding-left: 15px;
    position: relative;
    border-radius: 2px;
}

.new-attributes .news-circle {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
}

.new-attributes .solid-circle {
    background: #ccc;
    border-radius: 50%;
    width: 0.6rem;
    height: 0.6rem;
    overflow: hidden;
    margin: 0.3rem;
}

.new-attributes .news-time {
    color: #999999;
    font-size: 1rem;
    line-height: 2rem;
}

/*what's new 样式结束*/
