.component-servicequery__rangeicon {
    /* display: inline-block; */
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    padding: 5px;
    color: #0083CB;
}

.component-servicequery__rangeicon.bounds {
    position: relative;
    top: -47px;
}

.component-textarea.component-textarea--rangequery {
    height: 70px;
    padding-left: 5px;
    display: inline-block;
    width: 76%;
}

.component-textarea .component-textarea--rangequery__content {
    height: 73px;
    width: 85%;
}

.component-servicequery__rangeicon-container {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: 8px;
}

.component-servicequery__spatialquerymode-container {
    margin-top: 16px;
}

.component-servicequery__spatialquerymode__selectcontent {
    margin-bottom: 16px;
}

.component-content-container.component-scroll-content.data-services {
    padding-bottom: 0;
    height: unset;
}

.component-servicequery__container.component-container {
    position: absolute;
    right: 17px;
    top: 110px;
    font-size: 12px;
}

.component-servicequery__title {
    font-size: 12px;
}

.component-textarea--dataservice__container {
    margin-top: 16px;
}

.component-servicequery__analysistype {
    margin-top: 0;
}

.component-textarea.component-textarea--dataservice {
    height: 40px;
    padding-left: 5px;
    width: unset;
}

.component-textarea--dataservice textarea {
    height: 43px;
    padding-left: 5px;
}

.component-servicequery__maxfeatures-container {
    margin-top: 16px;
}

.component-servicequery__distance-container {
    margin-top: 16px;
}

.component-analysis__analysisbtn--analysising.component-servicequery__querybtn--querying {
    width: 100%;
}

.component-servicequery__querymode-selectname {
    /* font-weight: bolder; */
    margin: 8px 0 0 0;
    border: 1px solid #D9D9D9;
    padding: 5px 5px 5px 7px;
    background: #d4d1d13d;
}

.component-servicequery__rangeicon:hover {
    border: 1px solid #108EE9;
}
